* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  text-align: center;
}


/* sezione iniziale con barra di navigazione */
header {
  background-color: #1ABC9C;
  padding-bottom: 50px;
}

header .nav-background {
  background-color: #2C3E50;
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

#start-nav {
  font-weight: bold;
  line-height: 50px;
  font-size: 20px;
}

#start-nav:hover {
  color: white;
}

#lista::after {
  content: "";
  display: table;
  clear: both;
}

#lista ul li {
  list-style-type: none;
  float: left;
  width: calc(100% / 3);
}

#lista ul li a {
  font-weight: bold;
  font-size: 10px;
}

#lista ul li a:hover {
  color: #148F77;
}

#start-bootstrap h1, #start-bootstrap h4, #stellina {
  color: white;
}

#start-bootstrap {
padding-top: 71px;
}

#start-bootstrap h1 {
  font-weight: bold;
  font-size: 45px;
}

#start-bootstrap img {
  width: 200px;
  padding-top: 50px;
}

#stellina {
  padding-bottom: 20px;
}

#stellina i {
  font-size: 30px;
  position: absolute;
  bottom: 39px;
}

.bordino {
  display: inline-block;
  border: solid 2px;
  width: 115px;
  margin-left: 40px;
  margin-right: 8px;
  border-radius: 5px;
}


/* sezione uno */

#sezione-uno {
  color: #2C3E50;
  padding-top: 40px;
  padding-bottom: 30px;
}

#stellina-due {
  padding-bottom: 30px;
}

#stellina-due i {
  font-size: 30px;
  position: absolute;
  top: 50px;
  color: #2C3E50;
}

.bordino-due {
  display: inline-block;
  border: solid 2px;
  width: 115px;
  margin-left: 40px;
  margin-right: 8px;
  border-radius: 5px;
}

#sezione-uno h1 {
  padding-left: 40px;
  font-weight: bold;
}

/* quadrati immagini */
#sezione-uno img {
  width: 400px;
  margin-bottom: 30px;
  border-radius: 5px;
}

/* seconda sezione */
#sezione-due {
  background-color: #1ABC9C;
  color: white;
  padding-top: 60px;
  padding-bottom: 70px;:
}

#sezione-due h1 {
  font-weight: bold;
  padding-left: 35px;
}

#stellina-tre {
  padding-bottom: 30px;
}

#stellina-tre i {
  font-size: 30px;
  position: absolute;
  top: 70px;
}

.bordino-tre {
  display: inline-block;
  border: solid 2px;
  width: 115px;
  margin-left: 40px;
  margin-right: 8px;
  border-radius: 5px;
}

#sezione-due p {
  font-size: 20px;
  text-align: left;
}

#sezione-due button {
  background: none;
  padding: 20px 25px;
  border-radius: 10px;
  border: white solid 2px;
  font-size: 20px;
  margin-top: 30px;
}



/* sezione tre */
#sezione-tre {
  padding-top: 70px;
  padding-bottom: 70px;
}

#sezione-tre h1, #stellina-quattro {
  color: #2C3E50;
}

#stellina-quattro{
  padding-bottom: 50px;
}

#sezione-tre h1 {
  font-weight: bold;
}

#stellina-quattro i{
  font-size: 30px;
  position: absolute;
  top: 70px;
}

.bordino-quattro {
  display: inline-block;
  border: solid 2px;
  width: 115px;
  margin-left: 40px;
  margin-right: 8px;
  border-radius: 5px;
}

.dati input {
  padding: 25px 0;
}

.dati textarea {
  padding-top: 20px;
}

.dati input, .dati textarea {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #ced4da;
  color: #6C757D;
  font-size: 22px;
}

#bottone-send button {
  padding: 17px 30px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  background-color: #1abc9c;
  border-color: #1abc9c;
  margin-top: 20px;
}

/* piè di pagina */

#blu-chiaro {
  background-color: #2C3E50;
  padding-top: 75px;
  padding-bottom: 30px;
}

#blu-scuro {
  background-color: #1A252F;
  padding: 20px 0;
}

footer {
  color: white;
}

#icone::after {
  content: "";
  display: table;
  clear: both;
}

.social i {
  float: left;
  width: calc(84%/4);
  border: solid 2px white;
  border-radius: 100%;
  padding: 15px 0;
  font-size: 20px;
  margin-left: 4%;
}

#blu-chiaro h5 {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}

.info {
  font-size: 20px;
}

.colonnine-piè {
  padding-bottom: 40px;
}

.info span {
  color: #1abc9c;
}

#copy {
  font-size: 13px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* sezione inizio pagina */
  #start-bootstrap img {
    width: 240px;
    padding-top: 80px;
  }

  #start-bootstrap h1 {
    font-size: 45px;
    padding-bottom: 10px;
  }

  #stellina i {
    bottom: 119px;
  }

  #start-bootstrap h4 {
    font-size: 19px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  /* prima sezione */

  #sezione-uno {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #stellina-due i {
    top: 70px;
  }

  #sezione-uno img {
    width: 100%;
    margin-right: 5px;
  }





}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  header .nav-background {
    padding: 20px;
  }

  #lista ul li a {
    font-size: 17px;
  }

  #start-nav {
    font-size: 27px;
  }

  #start-bootstrap {
  padding-top: 91px;
  }

  #start-bootstrap h1 {
    font-size: 60px;
    padding-top: 20px;
  }

  #stellina i {
    bottom: 125px;
  }

  #start-bootstrap h4 {
    font-size: 24px;
  }

  /* sezione prima */
  #sezione-uno h1 {
    font-size: 50px
  }

  #stellina-due i {
    top: 85px;



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  header .nav-background {
    padding: 25px;
  }

  #start-bootstrap {
  padding-top: 101px;
  }

  #start-bootstrap img {
    width: 250px;
    padding-top: 100px;
  }


  #start-bootstrap h1 {
    font-size: 65px;
  }

  #stellina i {
    bottom: 126px;
  }

  #start-bootstrap h4 {
    font-size: 25px;
    padding-top: 20px;
  }

}
